#memberInfoTable{
 	width: 100%;
 	border: 4px solid black;
 }
 
 #memberInfoTable thead{
 	font-size: 1.4em;
 	border-bottom: 4px solid black;
 }
 #memberInfoTable tr td{
 	text-align: center;
 	border: 1px solid black;
 }
 
 #searchButton{
 	font-size: 1.4em;
 	width: 400px;
 }